*{
    box-sizing: border-box;
    padding-top: 15px;
}

h1{
    margin-bottom: 0;
}

.triangle{
    height: 95vh;
}

@media screen and (min-width: 768px) {

    .triangle{
        height: 75vh;
    }

}
