*{
    box-sizing: border-box;
    padding-top: 15px;
}

.hypotenuse{
    height: 95vh;
}


.footer_link{
    width: 100%;
    border: 1px solid black;
}

.footer_link_heading{
    padding: 0 10px;
    margin: 0;
}

.footer_link_list{
    padding: 0;
    margin: 0;
}

.footer_link_list li{
    display: inline;
    margin: auto;
    padding: 15px;
}

@media screen and (min-width: 768px) {

    .footer_link{
        width: 40%;
        height: 20%;
        margin: auto;
        margin-top: 20px;
    }

    .hypotenuse{
        height: 75vh;
    }
}