
.calculate_area{
    min-height: 75vh;
}

/* For first radio button */
.area_para{
    font-weight: bold;
    font-size: 20px;
}

.triangle_options{
    padding: 10px;
    margin: 10px;
    padding-left: 0;
    margin-left: 0;
    font-weight: bold;
}

/* #base_and_height{
    display: none;
} */


/* for second radio button */

.display_error{
    font-size: large;
    font-weight: bold;
}
